*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #282828;
    height: 100%;
}

.containerr {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blur {
    height: 50vh;
    width: 55%;
    background-color: rgba(255, 255, 255, 0.098);
    filter: blur(100px);
    position: absolute;
    left: 17%;
    top: 17%;
}

.header-text {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 20px;
    padding-top: 15px;
    font-weight: lighter;
    font-size: x-large;
    text-decoration: none;
    height: 100px;
}

.thin-text {
    font-weight: lighter;
    font-size: medium;
}


.center-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: x-large;
} 

.top-text {
    margin-right: 15%;
}
    
.middel-text {
    width: 150px;
    
}
    
.bottom-text {
    margin-left: 15%;
    width: 80px;
}   

.container {
    display: flex;
    flex: 1;
    
}

.about-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white; 
    padding-left: 100px; 
}

.about-bottom {
    width: 500px;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    font-size: large;
} 

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.img {
    height: 30px;
    width: 30px;
}


@media only screen and (max-width: 600px) {
.top-text {
    margin-right: 15%;
}

.middel-text {
    width: 150px;

}

.bottom-text {
    margin-left: 35%;
    width: 80px;
}

.center-text {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: x-large;
} 

.blur {
        height: 40vh;
}

.header {
    display: flex;
    justify-content: center;
    width: 320px;
    gap: 20px;
    color: white;
    font-weight: lighter;
    font-size: 20px;
}



}


@media only screen and (max-width: 350px) {
      
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: white;
        font-weight: lighter;
    }


}


